<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Ying and Yang</h2>
                <!-- <hr class="light"> -->
                <p class="text-faded">
                  Programmation and design - technology and art - both complementary, interconnected and
                  interrelated to give a rise each to another. Mastering both allow us
                  to create good experiences in the digital and physical worlds.
                </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
