<footer class="footer">
  <div class="container">
    <section class="cv">
      <h2>CV</h2>
      <a href="/assets/Arnau_Manyosa_CV.pdf" title="{{ site.author }} Curriculum Vitae" href="">Download my Resumé</a>
    </section>
  </div>
  <div class="container">
    <section class="contact">
      <h2>Contact</h2>
      <a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
    </section>
    <section class="follow">
      <h2>Follow</h2>
      <ul>
        {% if site.linkedin %}
        <li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">Linkedin</a></li>
        {% endif %}
        {% if site.twitter %}
        <li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li>
        {% endif %}
        {% if site.github %}
        <li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
        {% endif %}
        {% if site.dribbble %}
        <li><a title="Dribbble" href="{{ site.dribbble }}" target="_blank">Dribbble</a></li>
        {% endif %}
      </ul>
    </section>
  </div>
</footer>