@import 'tailwindcss';

@theme {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'DM Sans', sans-serif;
}

@theme inline {
  --color-heading: var(--color-gray-900);
  --color-body: var(--color-gray-800);
  --color-subtle: var(--color-gray-400);
  --color-hover: var(--color-gray-300);
  --color-border: var(--color-gray-200);
}

@layer base {
  html {
    font-family: var(--font-body);
    color: var(--color-body);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    color: var(--color-heading);
  }
}
